.margin-top {
  margin-top: 3rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 5rem;
}

.mt-lg {
  margin-top: 5rem;
}

.mt-xl {
  margin-top: 15rem;
}

.mr-xs {
  margin-right: 1rem;
}

.ml-xs {
  margin-left: 1rem;
}

.pb-md {
  padding-bottom: 2rem;
}

.pb-lg {
  padding-bottom: 2.5rem;
}

// flex
.justify-sb {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.js {
  justify-content: flex-start;
}

.sb {
  justify-content: space-between;
}

.align-baseline {
  align-items: baseline;
}

.fl-grow-1 {
  flex: 1;
}

// Color and background

.cc-lighPur {
  color: $tertiary;
}

.cc-violet {
  color: $violet;
}

.gray-cc {
  color: $tertiary-cc;
}

.cc-white {
  color: white;
}

//align
.left {
  text-align: left;
}

//general
.cursor-pointer {
  cursor: pointer;
}

//Text styles
.tb {
  font-weight: bold;
}

.no-anchor {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-delay: 0.1s;
  }
}

//font -todo: create typography
.fs-50 {
  font-size: 40px;
}
