//Font-size
// 10px is taken as a base size to start the calculations from
$main-header-fontsize: 4rem;
$subheader-fontsize: 2rem;
$default-font-size: 1.6rem;

//colors
$primary: #808080;
$secondary: #434656;
$tertiary: #aca7cb; // #9B98AA, #5d445d
