.margin-top {
  margin-top: 3rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 5rem;
}

.mt-lg {
  margin-top: 5rem;
}

.mr-xs {
  margin-right: 1rem;
}

.ml-xs {
  margin-left: 1rem;
}

.pb-md {
  padding-bottom: 1rem;
}

.pb-lg {
  padding-bottom: 2.5rem;
}

// flex
.justify-sb {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-baseline {
  align-items: baseline;
}

.fl-grow-1 {
  flex: 1;
}

// Color and background

.cc-lighPur {
  color: $tertiary;
}

.cc-white {
  color: white;
}

//align
.left {
  text-align: left;
}

//general
.cursor-pointer {
  cursor: pointer;
}
